.callout {
  position: relative;
  width: 100%;
  border-radius: var(--radius-2, 0.5rem);
  border: 1px solid transparent;
  display: flex;
  gap: var(--spacing-4, 0.5rem);
  align-items: flex-start;

  --callout-icon-color: currentColor;
  --callout-title-color: var(--text-card-foreground);
  --callout-description-color: var(--text-muted-foreground);
  border-color: color-mix(in srgb, var(--callout-background) 20%, transparent);
  background: color-mix(in srgb, var(--callout-background) 10%, transparent);
  padding: var(--callout-padding, var(--spacing-8, 1rem));

  :global(.dark) & {
    background: color-mix(in srgb, var(--callout-background) 10%, transparent);
  }

  &[role="button"] {
    cursor: pointer;
  }

  &--small {
    font-size: var(--callout-font-size-small, var(--periscope-font-size-base, 13px));
    line-height: var(--callout-line-height-small, 1.25rem);
  }

  &--medium {
    font-size: var(--callout-font-size-medium, var(--periscope-font-size-medium, 16px));
    line-height: var(--callout-line-height-medium, 1.5rem);
  }

  &[data-color="robin"] {
    --callout-background: var(--bg-robin-500);
    --callout-icon-color: var(--bg-robin-500);
    --callout-title-color: var(--bg-robin-500);
    --callout-description-color: var(--bg-robin-600);

    :global(.dark) & {
      --callout-background: var(--bg-robin-300);
      --callout-icon-color: var(--bg-robin-300);
      --callout-title-color: var(--bg-robin-100);
      --callout-description-color: var(--bg-robin-300);
    }
  }

  &[data-color="cherry"] {
    --callout-background: var(--bg-cherry-500);
    --callout-icon-color: var(--bg-cherry-500);
    --callout-title-color: var(--bg-cherry-500);
    --callout-description-color: var(--bg-cherry-500);

    :global(.dark) & {
      --callout-background: var(--bg-cherry-300);
      --callout-icon-color: var(--bg-cherry-300);
      --callout-title-color: var(--bg-cherry-100);
      --callout-description-color: var(--bg-cherry-300);
    }
  }

  &[data-color="amber"] {
    --callout-background: var(--bg-amber-500);
    --callout-title-color: var(--bg-amber-500);
    --callout-icon-color: var(--bg-amber-600);
    --callout-description-color: var(--bg-amber-600);

    :global(.dark) & {
      --callout-background: var(--bg-amber-300);
      --callout-icon-color: var(--bg-amber-300);
      --callout-title-color: var(--bg-amber-100);
      --callout-description-color: var(--bg-amber-300);
    }
  }

  &[data-color="sienna"] {
    --callout-background: var(--bg-sienna-500);
    --callout-icon-color: var(--bg-sienna-600);
    --callout-title-color: var(--bg-sienna-600);
    --callout-description-color: var(--bg-sienna-600);

    :global(.dark) & {
      --callout-background: var(--bg-sienna-500);
      --callout-icon-color: var(--bg-sienna-300);
      --callout-title-color: var(--bg-sienna-100);
      --callout-description-color: var(--bg-sienna-300);
    }
  }

  &[data-color="forest"] {
    --callout-background: var(--bg-forest-600);
    --callout-icon-color: var(--bg-forest-600);
    --callout-title-color: var(--bg-forest-600);
    --callout-description-color: var(--bg-forest-600);

    :global(.dark) & {
      --callout-background: var(--bg-forest-500);
      --callout-icon-color: var(--bg-forest-300);
      --callout-title-color: var(--bg-forest-100);
      --callout-description-color: var(--bg-forest-300);
    }
  }

  &[data-color="aqua"] {
    --callout-background: var(--bg-aqua-500);
    --callout-icon-color: var(--bg-aqua-300);
    --callout-title-color: var(--bg-aqua-300);
    --callout-description-color: var(--bg-aqua-300);

    :global(.dark) & {
      --callout-background: var(--bg-aqua-500);
      --callout-icon-color: var(--bg-aqua-300);
      --callout-title-color: var(--bg-aqua-100);
      --callout-description-color: var(--bg-aqua-300);
    }
  }

  &__icon {
    margin-top: var(--spacing-2, 0.25rem);
    color: var(--callout-icon-color);
    flex-shrink: 0;
  }

  &__content {
    display: grid;
    gap: var(--spacing-4, 0.5rem);
    flex: 1 1 0%;
    min-width: 0;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: var(--callout-title-font-weight, var(--font-weight-medium));
    letter-spacing: var(--callout-title-letter-spacing, -0.01em);
    color: var(--callout-title-color, var(--letter-spacing-tighter, -0.05em));
  }

  &__description {
    display: grid;
    justify-items: start;
    gap: var(--spacing-2, 0.25rem);
    color: var(--callout-description-color);
    font-weight: var(--callout-description-font-weight, var(--font-weight-normal));
    line-height: 1.25rem;
  }

  &__close {
    align-self: flex-start;
    padding: var(--spacing-2, 0.25rem);
    border-radius: calc(var(--radius) - 4px);
    transition: colors 100ms ease-out;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--callout-description-color);

    &:hover {
      color: var(--callout-title-color);
    }
  }

  &__action {
    align-self: flex-start;
    padding: var(--spacing-2, 0.25rem);
    border-radius: calc(var(--radius) - 4px);
    transition: colors 100ms ease-out;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--callout-description-color);

    &:hover {
      color: var(--callout-title-color);
    }
  }
}