@import 'tailwindcss';
@import '@signozhq/tailwind-config/global.css';

[data-color='primary'] {
	--button-background: var(--bg-robin-500);
	--button-solid-foreground: var(--bg-vanilla-100);
	--button-outlined-foreground: var(--bg-robin-700);
	--button-hover-background: var(--bg-robin-400);
	--button-link-hover-foreground: var(--bg-robin-500);
	--button-ghost-hover-foreground: var(--bg-robin-500);
}

[data-color='destructive'] {
	--button-background: var(--bg-cherry-500);
	--button-solid-foreground: var(--bg-vanilla-100);
	--button-outlined-foreground: var(--bg-cherry-500);
	--button-hover-background: var(--bg-cherry-400);
	--button-link-hover-foreground: var(--bg-cherry-400);
	--button-ghost-hover-foreground: var(--bg-cherry-400);
}

[data-color='warning'] {
	--button-background: var(--bg-amber-500);
	--button-solid-foreground: var(--bg-ink-400);
	--button-outlined-foreground: var(--bg-amber-700);
	--button-hover-background: var(--bg-amber-400);
	--button-link-hover-foreground: var(--bg-amber-600);
	--button-ghost-hover-foreground: var(--bg-amber-600);
}

[data-color='secondary'] {
	--button-background: var(--bg-vanilla-300);
	--button-solid-foreground: var(--bg-slate-500);
	--button-outlined-foreground: var(--bg-slate-50);
	--button-hover-background: var(--bg-vanilla-300);
	--button-link-hover-foreground: var(--bg-slate-300);
}

.dark [data-color='secondary'] {
	--button-background: var(--bg-slate-400);
	--button-solid-foreground: var(--bg-vanilla-100);
	--button-outlined-foreground: var(--bg-vanilla-400);
	--button-hover-background: var(--bg-slate-300);
	--button-link-hover-foreground: var(--bg-vanilla-200);
}

[data-background='ink-500'] {
	--action-button-background: var(--bg-ink-400);
	--action-button-border: var(--bg-slate-500);
	--action-button-text: var(--bg-vanilla-400);
	--action-button-hover-background: var(--bg-ink-300);
	--action-button-hover-border: var(--bg-slate-400);
	--action-button-hover-text: var(--bg-vanilla-100);
}

[data-background='ink-400'] {
	--action-button-background: var(--bg-ink-300);
	--action-button-border: var(--bg-slate-400);
	--action-button-text: var(--bg-vanilla-400);
	--action-button-hover-background: var(--bg-ink-200);
	--action-button-hover-border: var(--bg-slate-300);
	--action-button-hover-text: var(--bg-vanilla-100);
}

[data-background='vanilla-100'] {
	--action-button-background: var(--bg-vanilla-200);
	--action-button-border: var(--bg-vanilla-300);
	--action-button-text: var(--bg-slate-50);
	--action-button-hover-background: var(--bg-vanilla-300);
	--action-button-hover-border: rgba(var(--rgb-vanilla-400), 0.4);
	--action-button-hover-text: var(--bg-slate-500);
}

[data-background='vanilla-200'] {
	--action-button-background: var(--bg-vanilla-100);
	--action-button-border: var(--bg-vanilla-300);
	--action-button-text: var(--bg-slate-50);
	--action-button-hover-background: var(--bg-vanilla-100);
	--action-button-hover-border: rgba(var(--rgb-vanilla-400), 0.4);
	--action-button-hover-text: var(--bg-slate-500);
}

.periscope-calendar-day {
	margin: 4px;

	button {
		cursor: pointer;
	}

	&.periscope-calendar-disabled,
	&.periscope-calendar-hidden {
		button {
			cursor: not-allowed !important;
		}
	}
}
