.resizable-panel-group[aria-orientation="horizontal"] {
  flex-direction: column;
}

.resizable-handle[aria-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.resizable-handle[aria-orientation="horizontal"]::after {
  left: 0;
  height: 0.25rem;
  width: 100%;
  transform: translateY(-50%) translateX(0);
}

.resizable-handle[aria-orientation="horizontal"] > div {
  transform: rotate(90deg);
}