.checkbox {
    height: var(--checkbox-size, 1rem);
    width: var(--checkbox-size, 1rem);
    flex-shrink: 0;
    border-radius: var(--checkbox-border-radius, calc(var(--radius) - 2px));
    border: 2px solid var(--checkbox-border-color, var(--l3-background));
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms ease, color 150ms ease, border-color 150ms ease;

    &[data-color="robin"] {
        --checkbox-checked-background: var(--accent-primary);
    }

    &[data-color="forest"] {
        --checkbox-checked-background: var(--accent-forest);
    }

    &[data-color="amber"] {
        --checkbox-checked-background: var(--accent-amber);
    }

    &[data-color="sienna"] {
        --checkbox-checked-background: var(--accent-sienna);
    }

    &[data-color="cherry"] {
        --checkbox-checked-background: var(--accent-cherry);
    }

    &[data-color="sakura"] {
        --checkbox-checked-background: var(--accent-sakura);
    }

    &[data-color="aqua"] {
        --checkbox-checked-background: var(--accent-aqua);
    }

    &:not([data-state="indeterminate"]) {
        &[data-color="forest"],
        &[data-color="amber"],
        &[data-color="sienna"],
        &[data-color="cherry"],
        &[data-color="sakura"],
        &[data-color="aqua"] {
            --checkbox-checked-icon-foreground: var(--control-icon-foreground-contrast);
        }
    }

    &:focus-visible {
        outline-offset: -1px;
        outline: 2px solid var(--checkbox-checked-background);
    }

    &:hover {
        border-color: var(--checkbox-checked-background);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            box-shadow: none;
            border-color: var(--border);
        }
    }

    &[data-state="checked"] {
        background-color: var(--checkbox-checked-background);
        border-color: transparent;
    }

    &__indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        color: currentColor;
    }

    &__icon {
        height: calc(var(--checkbox-size, 1rem) - var(--spacing-2, 0.25rem));
        width: calc(var(--checkbox-size, 1rem) - var(--spacing-2, 0.25rem));
        color: var(--checkbox-checked-icon-foreground, var(--control-icon-foreground));
        padding-left: calc(var(--checkbox-size, 1rem) / 16);
    }

    &[data-state="indeterminate"] .checkbox__icon {
      height: calc(var(--checkbox-size, 1rem) - var(--spacing-4, 0.5rem));
      width: calc(var(--checkbox-size, 1rem) - var(--spacing-4, 0.5rem));
    }

    &__icon--slash {
      display: none;
    }

    &[data-state="indeterminate"] {
      .checkbox__icon--slash {
        display: flex;
      }
      .checkbox__icon--check {
        display: none;
      }
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &__label {
        cursor: pointer;
        user-select: none;
    }
}

.checkbox:disabled ~ .checkbox-wrapper__label {
    cursor: not-allowed;
    opacity: 0.7;
}
