[data-color="robin"] {
	--checkbox-checked-background: var(--accent-primary);
}

[data-color="forest"] {
	--checkbox-checked-background: var(--accent-forest);
}

[data-color="amber"] {
	--checkbox-checked-background: var(--accent-amber);
}

[data-color="sienna"] {
	--checkbox-checked-background: var(--accent-sienna);
}

[data-color="cherry"] {
	--checkbox-checked-background: var(--accent-cherry);
}

[data-color="sakura"] {
	--checkbox-checked-background: var(--accent-sakura);
}

[data-color="aqua"] {
	--checkbox-checked-background: var(--accent-aqua);
}
